/* inizio reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

.grey-color-text{
    color: grey;
}

.link{
    color: rgb(85, 173, 224);
    text-decoration: none;
}

/* fine general */








/* inizio header */

#main-header{
    background-color: rgb(85, 173, 224);
    background-image: url(../pattern.png);
}

#logo-container{
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

#logo{
    height: 40px;
} 

/* fine header */