/* inizio reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding-left: 30px;
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* fine reset */



/* inizio general */

.grey-color-text{
    color: grey;
}

.link{
    color: rgb(85, 173, 224);
    text-decoration: none;
}

/* fine general */



/* inizio header */

#main-header{
    background-color: rgb(85, 173, 224);
    background-image: url(../pattern.png);
}

#logo-container{
    padding-top: 30px;
    width: 80%;
    margin: auto;
}

#logo{
    height: 40px;
} 

/* fine header */



/* inizio main */

.main-table-thead{
    text-align: left;
    background-color: rgb(85, 173, 224);
    color: white;
}

.blue-table-row{
    background-color: rgb(155, 200, 226)
}

#collapsed-table{
    border-collapse: collapse;
}

.width-25-cell{
    width: 25%;
}

.width-50-cell{
    width: 50%;
}